{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
.events-table {
	width: 95%;
	text-align: center;
	margin-left:2.5%;
	border: 1px solid #343434;
}
.events-table thead th{
	text-align: center;
	height: 42px; /* its the answer to everything */
	color: white;
	background: #343434;

}

.events-table tbody tr:nth-child(even) {
	background: #efefef;
}

.events-table tbody tr:nth-child(odd) {
	background: #ddd;
}

.events-table tbody tr {
	height: 33px;
}

.events-container {
	margin-top: 25px;
}

.details-img {
	width: 20px;
	height:20px;
	margin-left: 5px;
}

.table-label {
	margin-left: 2.5%;
	margin-bottom: 8px;
	display:inline-block;
	font-size: 1.25em;
}

.truncate {
	  width: 250px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  margin: 0px;
}

.inactive-row {
	color: #999;
}

.edit-controls {
	cursor: pointer;
}

.edit-controls:hover {
	color: #979797;
}

.modal-backdrop {
	display: none;
}

.modal-dialog {
	top:100px;
}

#form-modal input {
	margin-top:6px;
}

.event-forms input, .event-forms textarea {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.event-forms input[type="radio"] {
	display: inline;
	margin-left: 8px;
    width: auto;
}
</style>

<div class="row events-container traffic-events">
	<span class="table-label"> Traffic events:</span>
	<table class="events-table">
		<thead>
			<tr>
				<th> Name </th> 
				<th> Contact Number </th> 
				<th> Description </th> 
				<th> Details </th> 
				<th> </th>
			</tr>
		</thead>
		<tbody>
			{% for event in data.trafficevents %}
				<tr class="{% if not event.event.isactive %}inactive-row{% endif %}">
					<td> 
						{{ event.event.first_responder.name }} (*) 
							{% for person in event.event.reporters.all %}
								<br> {{person.name}}
							{% endfor %}
					</td> 
					<td> 
							{{ event.event.first_responder.contact_number }}
							{% for person in event.event.reporters.all %}
								<br> {{person.contact_number}}
							{% endfor %}
					</td> 
					<td> <p class="truncate">  {{ event.event.description}} </p> </td> 
					<td> 
						<img src="{% static 'img/dead.png' %}" class="details-img"/>{{ event.event.num_casualties}} 
						<img src="{% static 'img/injury.png' %}" class="details-img"/>{{event.event.num_injured}}
						<img src="{% static 'img/caraccident.png' %}" class="details-img"/>{{event.num_vehicles}}
					</td> 
					<td> <i class="fa fa-edit fa-2x edit-controls" onclick="editEvent({{event.id}}, 'traffic')"></i> <a class="fa fa-toggle-on fa-2x  edit-controls" href="deactivate_event?eventid={{event.event.id}}"></a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<div class="row events-container terrorist-events">
	<span class="table-label"> Terrorist events: </span>
	<table class="events-table">
		<thead>
			<tr>
				<th> Name </th> 
				<th> Contact Number </th> 
				<th>  <p class="truncate"> Description  </p></th> 
				<th> Details </th> 
				<th> </th>
			</tr>
		</thead>
		<tbody>
			{% for event in data.terroristevents %}
				<tr class="{% if not event.event.isactive %}inactive-row{% endif %}">
					<td> 
						{{ event.event.first_responder.name }} (*) 
							{% for person in event.event.reporters.all %}
								<br> {{person.name}}
							{% endfor %}
					</td> 
					<td> 
							{{ event.event.first_responder.contact_number }}
							{% for person in event.event.reporters.all %}
								<br> {{person.contact_number}}
							{% endfor %}
					</td> 
					<td> <p class="truncate">  {{ event.event.description}} </p> </td> 
					<td> 
						<img src="{% static 'img/dead.png' %}" class="details-img"/> {{ event.event.num_casualties}} 
						<img src="{% static 'img/injury.png' %}" class="details-img"/> {{event.event.num_injured}}
						<img src="{% static 'img/terrorist.png' %}" class="details-img"/> {{event.num_hostiles}}
					</td> 
					<td> <i class="fa fa-edit fa-2x edit-controls" onclick="editEvent({{event.id}}, 'terrorist')"></i> <a class="fa fa-toggle-on fa-2x edit-controls" href="deactivate_event?eventid={{event.event.id}}"></a>  </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div id="form-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="update-event-form" method="POST" action="update_event">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Update Event</h4>
			</div>
			
				{% csrf_token %}
				<div class="modal-body event-forms">

				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Done</button>
			</div>
			</form>
		</div>
	</div>
</div>

<script>
function populateForm(event){

}

function editEvent(eventid, eventtype){
	$.ajax({
    		url: 'get_event_update_form',
    		data: {'eventid': eventid, 'eventtype': eventtype},
    		dataType: 'html'
    	}).done(function(data, textStatus, jqXHR) {
    		$('.modal-body').html(data);
            $('#form-modal').modal();
    	}).fail(function(){
    		console.log('failed'); // some proper failure message
    	});
}

</script>
{% endblock content %}