{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
.events-table {
	width: 95%;
	text-align: center;
	margin-left:2.5%;
	border: 1px solid #343434;
}
.events-table thead th{
	text-align: center;
	height: 42px; /* its the answer to everything */
	color: white;
	background: #343434;

}

.events-table tbody tr {
	height: 33px;
}

.events-container {
	margin-top: 25px;
}

.details-img {
	width: 20px;
	height:20px;
	margin-left: 5px;
}

.table-label {
	margin-left: 2.5%;
	margin-bottom: 8px;
	display:inline-block;
	font-size: 1.25em;
}

.truncate {
	  width: 250px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
}
</style>

<div class="row events-container traffic-events">
	<span class="table-label"> Traffic events: </span>
	<table class="events-table">
		<thead>
			<tr>
				<th> Name </th> 
				<th> Contact Number </th> 
				<th> Description </th> 
				<th> Details </th> 
				<th> </th>
			</tr>
		</thead>
		<tbody>
			{% for event in data.trafficevents %}
				<tr>
					<td> {{ event.event.name }} </td> 
					<td> {{ event.event.contact_number}} </td> 
					<td> <p class="truncate">  {{ event.event.description}} </p> </td> 
					<td> 
						<img src="{% static 'img/dead.png' %}" class="details-img"/>{{ event.event.num_casualties}} 
						<img src="{% static 'img/injury.png' %}" class="details-img"/>{{event.event.num_injured}}
						<img src="{% static 'img/caraccident.png' %}" class="details-img"/>{{event.num_vehicles}}
					</td> 
					<td> edit stuffsssss </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<div class="row events-container terrorist-events">
	<span class="table-label"> Terrorist events: </span>
	<table class="events-table">
		<thead>
			<tr>
				<th> Name </th> 
				<th> Contact Number </th> 
				<th>  <p class="truncate"> Description  </p></th> 
				<th> Details </th> 
				<th> </th>
			</tr>
		</thead>
		<tbody>
			{% for event in data.terroristevents %}
				<tr>
					<td> {{ event.event.name }} </td> 
					<td> {{ event.event.contact_number}} </td> 
					<td> <p class="truncate"> {{ event.event.description}} </p> </td> 
					<td> 
						<img src="{% static 'img/dead.png' %}" class="details-img"/> {{ event.event.num_casualties}} 
						<img src="{% static 'img/injury.png' %}" class="details-img"/> {{event.event.num_injured}}
						<img src="{% static 'img/terrorist.png' %}" class="details-img"/> {{event.num_hostiles}}
					</td> 
					<td> edit stuffsssss </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}