<!DOCTYPE html>
<html>
  <head>
    <title>Weather Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>

#content {
    padding: 0px;
}
#map {
    width: 100%;
    height: 100vh;
}

body {
    padding: 0px;
    margin: 0px;
}

.marker-content {
    width: 150px;
}

.filter-option {
    display:inline-block;
    margin-right: 20px;
    padding: 10px;
    border:1px solid #c7c7c7;
    border-radius: 4px;
}

#haze {
    position: absolute;
    bottom: 20px;
    left: 20px;
    min-width: 100px;
    height: 160px;
    padding: 7px;
    background: rgba(250,250,250,0.8);
    border-radius: 8px;

}

#haze table {
    text-align: center;
}

#haze thead {
    border-bottom: 1px solid #787878;
}

#haze tr, #haze th {
    height: 14.8257%;
    text-align: center;
}

#haze td {
    width: 25%;
}
</style>
</head>

<body>

<div id = "legend">
    <img src =  "/static/img/crisislegend.png" width = "50px" height="180px"/>
</div>
<div id="map">
</div>
<div style="display:none" class="complete" ></div>
<script>
    var marker;

    function generateInfoWindowHtml(event){
        var html = '<div class="marker-content"><p>' +
            '<strong> Reported by: </strong> ' + event['name'] + '<br/>' +
            '<strong> Description: </strong>' + event['description'] + '<br/>' +
            '<strong> Operator: </strong>' + event['operator'] + '<br/>' +
            '</p></div>';
        return html;
    }

    function initMap() {
        var mapDiv = document.getElementById('map');
        var infowindow =  new google.maps.InfoWindow();
        var weatherGeoJSON, eventsGeoJSON, dengueGeoJSON;

        var map = new google.maps.Map(mapDiv, {
          center: {lat: 1.364922150947930, lng: 103.80912780761719},
          zoom: 11
        });

        var getDistricts = function() {
            $.ajax({
                url: '/admin/get_districts',
                dataType: 'json'
            }).done(function (data) {
                 map.data.addGeoJson(data);
                  $(".complete").attr("id","done");
            });  
        };

        getDistricts();

        var crisisSetterForm

        map.data.addListener('click', function(event) {
            var feature = event.feature
            var iconbase = '/static/img/';
            var type = feature.getProperty('type');

            if (type == 'district') {
                infowindow.setContent("<div style='width:170px; text-align:center; padding: 5px;'><b>"+feature.getProperty('name_1') + "</b><hr style='margin:3px;'/> <img src='" + iconbase+'crisis.png'+"' height= 30px width = 30px/>  Crisis: <span style='font-size: 60px'>"+ feature.getProperty('crisis') +"</span>");

                infowindow.setPosition(new google.maps.LatLng(feature.getProperty('center')[0],feature.getProperty('center')[1]));
                infowindow.open(map);
            }
        });  

        map.data.setStyle(function(feature) {
            var iconbase = '/static/img/';
            var type = feature.getProperty('type');
            if (type == 'district') {
                switch (feature.getProperty('crisis')) {
                    case 0 : {
                        return {
                            fillColor: "rgb(255, 255, 255)",
                            strokeColor: "rgb(255, 255, 255)",
                            strokeWeight: 2
                        }
                    }
               
                    case 1: {
                        return {
                            fillColor: "rgb(233,212,96)",
                            strokeColor: "rgb(233,212,96)",
                            strokeWeight: 2
                        }
                    }
                    case 2: {
                        return {
                            fillColor: "rgb(242, 120, 75)",
                            strokeColor: "rgb(242, 120, 75)",
                            strokeWeight: 2
                        }
                    }

                     case 3: {
                        return {
                            fillColor: "rgb(211, 84, 0)",
                            strokeColor: "rgb(211, 84, 0)",
                            strokeWeight: 2
                        }
                    }

                    case 4: {
                        return {
                            fillColor: "rgb(246, 36, 89)",
                            strokeColor: "rgb(246, 36, 89)",
                            strokeWeight: 2
                        }
                    }

                    case 5: {
                        return {
                            fillColor: "rgb(207, 0, 15)",
                            strokeColor: "rgb(207, 0, 15)",
                            strokeWeight: 2
                        }
                    }
                };
            }
        });
        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(
            document.getElementById('legend'));        
    }
    $(document).ready(function(){
        $('#refreshAPI').click(function() {
             $.ajax({
                url: '/refreshAPI',
            }).done (function() {
                location.reload();
            })
        });
    });

</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>


</body>
</html>