{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<style>
.send {
    height: 60px;
    font-size:2em;
    margin-bottom: 20px;
}


</style>




<center><button class="send">Send Report: <i class="fa fa-send"></i></button></center>
<iframe src="/report" width="100%" height="600px"></iframe>

<script>
    $('.send').click(function (){
        $.ajax({
            url: 'send_report'
        }).done(function(d){
            alert('Sent report!');
        })
    });
</script>
{% endblock content %}